<manifest xmlns:android="http://schemas.android.com/apk/res/android"

    package="com.soundcloud.android.crop">

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <application>
        <activity android:name="com.soundcloud.android.crop.CropImageActivity" />
    </application>


</manifest>
